*{
    margin: 0;
    padding: 0;
}
.window {
    height: 100vh;
    width: 100vw;
    min-height: 100px;
    background-image: url("https://img.championat.com/s/1350x900/news/big/v/q/papich-priostanovil-strimy-na-fone-sluhov-o-sovraschenii-14-letnej-shkolnicy_16425118871068313167.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.greetings {
    font-style: italic;
    font-size: 150px;
    color:blueviolet;
    text-align: center;
}